# https://aka.ms/yaml

trigger:
- master
- staging
- trying

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: |
      curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain stable
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
    displayName: 'Install rust'
  - script: rustc --version
  - script: cargo test

# - job: macOS
#   pool:
#     vmImage: 'macOS-10.13'
#   steps:
#   - script: |
#       curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain stable
#       echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
#     displayName: 'Install rust'
#   - script: rustc --version
#   - script: cargo test

# - job: Windows
#   pool:
#     vmImage: 'vs2017-win2016'
#   steps:
#   - script: |
#       curl -sSf -o rustup-init.exe https://win.rustup.rs
#       rustup-init.exe -y --default-toolchain stable
#       echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
#     displayName: 'Install rust'
#   - script: rustc --version
#   - script: cargo test
